<!DOCTYPE html>
<html>
<head>
    <title>Página do Gráfico</title>
</head>
<body>
    <h1>Gráfico</h1>
    
    {% if grafico1 %}
    <img src="{{ url_for('static', filename='grafico.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico2 %}
    <img src="{{ url_for('static', filename='grafico2.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico3 %}
    <img src="{{ url_for('static', filename='grafico3.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico4 %}
    <img src="{{ url_for('static', filename='grafico4.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico5 %}
    <img src="{{ url_for('static', filename='grafico5.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico6 %}
    <img src="{{ url_for('static', filename='grafico6.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico7 %}
    <img src="{{ url_for('static', filename='grafico7.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico8 %}
    <img src="{{ url_for('static', filename='grafico8.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico9 %}
    <img src="{{ url_for('static', filename='grafico9.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico10 %}
    <img src="{{ url_for('static', filename='grafico10.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico11 %}
    <img src="{{ url_for('static', filename='grafico11.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico12 %}
    <img src="{{ url_for('static', filename='grafico12.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico13 %}
    <img src="{{ url_for('static', filename='grafico13.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico14 %}
    <img src="{{ url_for('static', filename='grafico14.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico15 %}
    <img src="{{ url_for('static', filename='grafico15.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico16 %}
    <img src="{{ url_for('static', filename='grafico16.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico17 %}
    <img src="{{ url_for('static', filename='grafico17.png') }}" alt="Seu Gráfico">
    {% endif %}

    {% if grafico18 %}
    <img src="{{ url_for('static', filename='grafico18.png') }}" alt="Seu Gráfico">
    {% endif %}
</body>
</html>
