<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Spotpy</title>
</head>

    
    <body>
        <div class="botoes-redondos">
            <a href="https://www.instagram.com/spot.py/" class="botao-redondo">
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="insta"  width="40" height="40">   
            </a>
        </div>
            
    <div class="image-container">
        <h1> Você gostaria de saber mais sobre as músicas ?</h1>
        <img src="{{ url_for('static', filename='musica.svg') }}" alt="musica">
    </div>
    <div class = "Botoes">
    {% if grafico1 %}
    <img src="{{ url_for('static', filename='grafico.png') }}" alt="Gráfico 1">
    {% else %}
        <button onclick="window.location.href='/gerar_graficoTop50'">Top 50</button>
    {% endif %}
    {% if grafico2 %}
    <img src="{{ url_for('static', filename='grafico2.png') }}" alt="Gráfico 2">
    {% else %}
        <button onclick="window.location.href='/gerar_graficoTop100'">Top 100</button>
    {% endif %}
    {% if grafico3 %}
        <img src="{{ url_for('static', filename='grafico3.png') }}" alt="Gráfico 3">
    {% else %}
        <button onclick="window.location.href='/gerar_graficoTopBrasil'">Top Brasil</button>
    {% endif %}
    </body>
</html>